{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="main-container">
    <div class="container">
        <img class="img1" src="https://img.freepik.com/free-photo/laptop-with-glowing-screen-table-dark-top-view-copy-space_169016-51607.jpg?semt=ais_hybrid&w=740">
        <div class="texto-superpuesto">     
            <h2>Bienvenido al</h2>
            <h2>Sistema de Gestión de Aprendizaje</h2>
        <hr>
        <br>
        <a class="ver-cursos" href="{% url 'lista_cursos' %}">Ver Cursos</a>
    </div>
</div>
{% endblock %}
